.divList {
    clear: left;
    border-radius: 10px;
    border: 1px solid #808080;
    width: auto; /* Ширина колонки */
    float: left; /* Обтекание справа */
    margin: 0px 30px 0px 0px; /*  Параметры рамки вокруг */
    padding: 10px;
    background-color: #FFFFFF;
}
table.tabListProject {
    border: 1px solid #999999;
    color: #000000;
    border-radius: 3px;
    background-color: #F7F6F3;
    font-family: 'Arial Narrow';
    width:auto;
    margin-top: 20px;
    font-size: 14px;
}
.tabListProject th {
    padding: 5px;
    border: 1px solid #999999;
    color: #5B5B5B;
    font-weight: bold;
    word-wrap: hyphenate;
    text-align: center;
    text-transform: uppercase;
    background-color: #F7F6F3;
}
.tabListProject th a {
    color: #0000FF;
    text-transform: uppercase;
    text-decoration: underline;
}
.tabListProject td a
{
    color: #0000FF;
}
.tabListProject td {
    padding: 5px;
    border: 1px solid #999999;
    color: #000000;
    text-align: center;
    background-color: #FFFFFF;
}
.tabListProject th.name {
    width: 200px;
}
.tabListProject th.description {
    width: 300px;
}
.tabListProject td.name {
    text-align: left;
}
.tabListProject td.description {
    text-align: left;
    font-style: italic;
}
.tabListProject th.menager {
    width: 300px;
}
.tabListProject td.menager {
    text-align: left;
}
.tabListProject th.datechange {
    width: 150px;
}
.tabListProject td.datechange {
    text-align: center;
}

table.tabListProject tr.select td, table.tabListProject tr.select td a {
    background-color: #808080;
    color: #FFFFFF;
}

.divSelectProject
{
    text-align: left;
}

table.tabSelectProject td {
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman' , Times, serif;
    font-size: 14px;
    text-align: left;
    padding: 5px;
}

table.tabSelectProject td select {
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman' , Times, serif;
    font-size: 14px;
}

