/*div:empty {
display: none;
}*/
    .divPanelControl {
    width: auto;
    float: left;
    margin-bottom: 10px;
}
.divList {
    clear: left;
    border-radius: 10px;
    border: 1px solid #808080;
    width: auto; /* Ширина колонки */
    float: left; /* Обтекание справа */
    margin: 0px 30px 0px 0px; /*  Параметры рамки вокруг */
    padding: 10px;
    background-color: #FFFFFF;
}
.divDetali {
    border-radius: 10px;
    border: 1px solid #808080;
    width: auto;
    float: left; /*Обтекание справа */
    margin: 0px 5px 0px 0px; /*  Параметры рамки вокруг */
    padding: 10px;
    background-color: #FFFFFF;
    text-align: left;
}
    /*.divDetali:empty {
    display: none;
    background-color: #00FF00;
}*/
.clear{
    
    margin-bottom: 20px;
}

/* Стили таблицы tabSite*/
table.tabSite {
    border: 1px solid #999999;
    color: #000000;
    border-radius: 3px;
    background-color: #F7F6F3;
    font-family: 'Arial Narrow';
    width: 500px;
    margin-top: 20px;
    font-size: 14px;
}
.tabSite th {
    padding: 5px;
    border: 1px solid #999999;
    color: #5B5B5B;
    font-weight: bold;
    word-wrap: hyphenate;
    text-align: center;
    text-transform: uppercase;
    background-color: #F7F6F3;
}
.tabSite th a {
    color: #0000FF;
    text-transform: uppercase;
    text-decoration: underline;

}
.tabSite td {
    padding: 5px;
    border: 1px solid #999999;
    color: #000000;
    text-align: center;
    background-color: #FFFFFF;
}
.tabSite th.URL {
    width: 200px;
}
.tabSite th.Description {
    width: 300px;
}
.tabSite td.URL {
    text-align: left;
}
.tabSite td.Description {
    text-align: left;
    font-style: italic;
}

.select td, .select td a, .edit td {
    background-color: #808080;
    color: #FFFFFF;
}

.LinkCommand
{
    text-transform: uppercase;
    margin: 10px;
    font-weight: bold;
}

